<h1 xmlns="http://www.w3.org/1999/html">Pages#home</h1>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VirginieMedina</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
  <link href="pages.scss"rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css-4.5.0/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                
                </button>
                <a class="navbar-brand" href="#page-top">Virginie Medina</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#accueil">Accueil</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                     <li class="page-scroll">
                        <a href="#certificat">Certificat</a>
                    </li>

                       
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    

    <!-- About Section -->
    <section class="success" id="accueil">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img class="images" src="images/virginie.jpeg" alt="">
                    <h2>Accueil</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    
                    <h1>Back end </h1>
                    <p>Developpeuse Back end junior</p>
                    <p>je m'apelle VirginieMedina , j'ai 37 ans j'arrive en fin de formation simplon et souhaiterais me reconvertir en tant que developpeuse web.</p>
                </div>
                
                </div>
            </div>
        </div>
    </section>

 <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        
                            <center><b>Html et css</b></center>
                        <img src="images/portfolio/1.png" class="img-responsive" alt="">
                    </a>
                </div>
                
             <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        
                       <center><b>Meteor</b></center>
             <img src="images/portfolio/cv.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                         <center><b>Bootstrap</b></center>
                        <img src="images/portfolio/2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                 <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        
                         <center><b>Ruby on rails</b></center>
                        <img src="images/portfolio/ROR.png" class="img-responsive" alt="">
                    </a>
                </div>

                   <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                         <center><b>Simplon</b></center>
                        <img src="images/portfolio/3.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <center><b>Java script tictactoe</b></center>
                        <img src="images/portfolio/tictactoe.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        
                         <center><b>Ruby</b></center>
                        <img src="images/portfolio/jeux.rb.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <center><b>Ruby</b></center>
                        <img src="images/portfolio/image.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <center><b>java script:Coockies Clikers</b></center>
                        <img src="images/portfolio/2.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
       
    </section>

  

<!-- About Section -->
    <section class="success" id="certificat">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Certificat</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
               <p>pour voir les certificats cliquer sur les liens ci dessous:</p>
            <p><a href="http://openclassrooms.com/course-certificates/77280543"> comprendre le web</a></p>
            <p><a href="http://openclassrooms.com/course-certificates/19434168"> Apprenez à créer votre site web avec HTML5 et CSS3</a></p>
            <p><a href="http://openclassrooms.com/course-certificates/55593109">Prenez en main Bootstrap</a></p>
            <p> <a href="http://openclassrooms.com/course-certificates/96526761"> Apprenez à naviguer en sécurité sur Internet</a></p>
            <p><a href="http://openclassrooms.com/course-certificates/91738989"> Concevez votre site web avec PHP et MySQL</a></p>
            <p><a href="https://openclassrooms.com/course-certificates/48045678">Gérer son code avec Git et GitHub</a></p>
            <p><a href="https://openclassrooms.com/course-certificates/13307682">Lancez-vous dans la programmation avec Ruby</a></p>
            <p><a href="https://openclassrooms.com/learning-path-certificates/2425368676 ">Intégrateur Web</a></p>
</div>
                
                </div>
            </div>
        </div>
    </section>

<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                <input type="email" class="form-control" placeholder="Email Address" id="email" required data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit"class="btn btn-success btn-lg"> Send</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Carte map</h3>
                        <p>carte<br>Lege cap ferret 33950</p>
                    </div>
                    <iframe src="http://map1.mappy.net/map/1.0/slab/standard/384/7/1086/1186 " width="50%" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>Mes coordonnées : / medinini@hotmail.fr</p>
        <a></a><pour voir mon GITHUB cliquer sur le bouton:</center></a>

                    </div>
                    
                </div>
            </div>
        </div>

      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; 2015
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="footer-col col-md-4">
      <h3>Location</h3>
      <p>1 rue des pins<br>33950 lege cap feret</p>
    </div>
    <div class="footer-col col-md-4">
      <h3>Reseaux social</h3>
      <ul class="list-inline">
        <li>
          <a href="https://www.facebook.com/virginie.medina.9 "><i class="fa fa-fw fa-facebook"></i></a>
        </li>

        <li>
          <a href="https://twitter.com/MedinaMedinini?lang=fr "><i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://github.com/virginie33 "><i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href= "btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
        </li>
      </ul>
    </div>



    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

</body>

</html>
