// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.images{
	height:160px;
	width:160px;
	border-radius:50px;
}
h1{
	text-align: center;

}

.fa.fa{
	height:50px;
	width:50px;
	line-height:20px;
}


.social-navbar-link{
	display:inline-block;
	margin-top:20px;
	height:50px;
	width:50px;
	text-align:center;
	background:black;
	font-size:0;
	font-weight:400;
	color:white;
}

body {
  font-family:"trebuchet ms",sans-serif;
  font-size:90%;
}
form {
  background-color:#FAFAFA;
  padding:10px;
  width:280px;
}
fieldset {
  padding:0 20px 20px 20px;
  margin-bottom:10px;
  border:1px solid #DF3F3F;
}
legend {
  color:#DF3F3F;
  font-weight:bold
}
label {
  margin-top:10px;
  display:block;
}
label.inline {
  display:inline;
  margin-right:50px;
}
input, textarea, select, option {
  background-color:#FFF3F3;
}
input, textarea, select {
  padding:3px;
  border:1px solid #F5C5C5;
  border-radius:5px;
  width:200px;
  -moz-box-shadow: inset 20px 20px 5px 0px #010066;
  -webkit-box-shadow: inset 20px 20px 5px 0px #010066;


}
select {
  margin-top:10px;
}
input[type=radio] {
  background-color:transparent;
  border:none;
  width:10px;
}
input[type=submit], input[type=reset] {
  width:100px;
  margin-left:5px;
  box-shadow:10px 10px 10px #D83F3D;
  cursor:pointer;
}

.btn {
  width:auto;
  padding:8px 0;
  text-align:center;
  display: inline-block;
  float:left;
  margin:0 8px 0 0;
  border-radius:8px;
  font-size: 0.85em;
  width:120px;
  color:#0000FF ;
  font-family: Arial,sans-serif;
}